
<%- include('../layout/admin/admin_header.ejs') %>
<%- include('../layout/admin/admin_nav.ejs') %>
<%- include('../layout/admin/admin_sidebar.ejs') %>




<main id="main" class="main">
    <section class="section">
  
      
  
      <section class="section dashboard">
        <div class="row">
          
  
              <!-- Recent Sales -->
              <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		
                            <aside class="col-lg-12">
                                <div class="tab-pane fade show active" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">

                                    
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sl.No</th>
                                                <th>Order Id</th>
                                                <th>Products</th>
                                                <th>Quantity</th>
                                                <th>Product Total</th>
                                                <th>Order Total</th>
                                                <th>Order Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% orders.forEach((elements,index)=>{ %>
                                           <tr>
    
                                            <td class="px-2"><%= index+1 %></td>
                                             <td>
                                                <%= elements.orderId %>
                                             </td>
                                             <td>
                                                <% elements.products.forEach((product)=>{ %>
                                                    <%= product.productId.productname %> <br> <br>
                                                <% }) %>
                                             </td>
                                             
                                             <td class="px-5" style="padding-left: 50px;">
                                                <% elements.products.forEach((product)=>{ %>
                                                <%= product.quantity %> <br> <br>
                                                <% }) %>
                                             </td>
    
                                             <td>
                                                <% elements.products.forEach((product)=>{ %>
                                                    <%= product.producttotal %> <br> <br>
                                                    <% }) %>
                                             </td>
    
                                              <td class="px-5">
                                                <%= elements.totalprice %>
                                              </td>
    
                                             <td class="px-5">
                                                <%= elements.status %>
                                                
                                             </td>
    
                                             
    
    
                                             </tr>
    
                                            <% }) %>
    
                                         </tbody>
    
    
                                     </table>
                                    <a href="#" onclick="window.print()" class="btn btn-danger"><span>Print</span><i class="icon-long-arrow-right"></i></a>
                                    <a href="/admin/home" class="btn btn-primary"><span>DashBoard</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->
                        </aside>
                        
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
  
  
        </div>
      </section>
  
    </main>


    








<%- include('../layout/admin/admin_footer.ejs') %>